{% extends 'base.html' %}

{% block content %}


{% for gig in gigs %}
    {% if gig.setlist_gig.status == 0 %}
        THIS IS PENDING, COME BACK SOON
        <ul>
            <li>{{ gig.date }} {{ gig.venue }} {{ gig.venue.city}}</li>
        </ul>
    {% elif gig.setlist_gig.status == 1 %}
    PUBLISHED
        <ul>
            <a href="/setlist/setlist-detail/{{ gig.id }}"><li>{{ gig.date }} {{ gig.venue }} {{ gig.venue.city }}</li></a>
        </ul>
    {% else %}
    NO LIST
        <ul>
            <a href="/setlist/add/{{ gig.id }}"><li>{{ gig.date }} {{ gig.venue }} {{ gig.venue.city }}</li></a>
        </ul>
    {% endif %}
{% endfor %}

{% endblock %}

<!-- {% for gig in published %}
    ADD LINK TO SETLIST DETAIL
    <ul>
        <a href="/setlist/setlist-detail/{{ gig.id }}"><li>{{ gig.date }} {{ gig.venue }} {{ gig.venue.city }}</li></a>
    </ul>
{% endfor %} 

{% for gig in pending %}
    STATE SETLIST PENDING APPROVAL
    <ul>
        <li>{{ gig.date }} {{ gig.venue }} {{ gig.venue.city }}</li>
    </ul>
{% endfor %} 


{% for gig in no_list %}
    ADD SETLIST LINK
    <ul>
        <a href="/setlist/add/{{ gig.id }}"><li>{{ gig.date }} {{ gig.venue }} {{ gig.venue.city }}</li></a>
    </ul>
{% endfor %}  -->



