{% extends 'base.html' %}

{% block content %}



<!-- PUBLISHED SETLISTS:

{% for gig in published %}
    <ul>
        <li>{{ gig.gig.date }} {{ gig.gig.venue }} {{ gig.gig.venue.city }}</li>
    </ul>
{% endfor %} 

PENDING SETLISTS:

{% for gig in pending %}
    <ul>
        <li>{{ gig.gig.date }} {{ gig.gig.venue }} {{ gig.gig.venue.city }}</li>
    </ul>
{% endfor %} 

NO SETLIST:

{% for gig in no_list %}
    <ul>
        <li>{{ gig.date }} {{ gig.venue }} {{ gig.venue.city }}</li>
    </ul>
{% endfor %} -->

{% for gig in gigs %}
    {% if gig.setlist_gig.status == 0 %}
    STATE SETLIST PENDING APPROVAL
    <ul>
        <li>{{ gig.date }} {{ gig.venue }} {{ gig.venue.city }}</li>
    </ul>
    {% elif gig.setlist_gig.status == 1 %}
    ADD LINK TO SETLIST DETAIL
    {{ gig.id }}
    <ul>
        <a href="/setlist/setlist-detail/{{ gig.id }}"><li>{{ gig.date }} {{ gig.venue }} {{ gig.venue.city }}</li></a>
    </ul>
    {% else %}
    ADD LINK TO ADD
    <ul>
        <a href="/setlist/add/{{ gig.id }}"><li>{{ gig.date }} {{ gig.venue }} {{ gig.venue.city }}</li></a>
    </ul>
    {% endif %}
{% endfor %} 




<!-- {% for gig in published %}
ADD LINK TO SETLIST DETAIL
    <ul>
        <li>{{ gig.gig.date }} {{ gig.gig.venue }} {{ gig.gig.venue.city }}</li>
    </ul>
{% endfor %} 

{% for gig in pending %}
STATE SETLIST PENDING APPROVAL
    <ul>
        <li>{{ gig.gig.date }} {{ gig.gig.venue }} {{ gig.gig.venue.city }}</li>
    </ul>
{% endfor %} 


{% for gig in no_list %}
    ADD SETLIST LINK
    <ul>
        <li>{{ gig.date }} {{ gig.venue }} {{ gig.venue.city }}</li>
    </ul>
{% endfor %}   -->






{% endblock %} 


